body {
  background-color: deepskyblue;
}
h1 {
  text-align: center;
  font-family: 'Rammetto One', cursive;
}
.form-group{
  font-family: 'Rammetto One';
}
.panel{
  font-family: 'PT Sans', sans-serif;
}
td {
    width:80%;
}
.panel-heading, th{
  text-align: center;
}

.panel{
  width:66.6%;
  margin-left: 17%;
}

#add{
  margin-left: 10%;
}